<% provide(:title, 'Full Emoji List') %>

<p>People:</p>
<p><%= emojify(@people.join(' ')) %></p>

<p>Nature:</p>
<p><%= emojify(@nature.join(' ')) %></p>

<p>Objects:</p>
<p><%= emojify(@objects.join(' ')) %></p>

<p>Places:</p>
<p><%= emojify(@places.join(' ')) %></p>

<p>Symbols:</p>
<p><%= emojify(@symbols.join(' ')) %></p>

